@use "modules/_variables" as *;
@use "modules/_mixins" as *;
main, body {
height: 100vh;
background-color: white;
}
nav {
@include bg($Dark-blue);
@include flex($justify: space-around);
width: 100vw;
}