//Mixins
@mixin bg($color: default, $img: none, $imgpos: default, $imgsize: default,) {
background-color: $color;
background-image: $img;
background-position: $imgpos;
background-size: $imgsize;
}
@mixin flex($align: center, $justify: center, $direction: row) {
display: flex;
justify-content: $align;
align-items: $justify;
flex-direction: row;
}
@mixin grid($columns: auto, $rows: auto, $align: center, $justify: center) {
display: grid;
grid-template: $rows / $columns;
align-items: $align;
justify-content: $justify;
}