@use "./modules/functions" as fun;
@use "./modules/mixins" as mix;
@use "./modules/vars" as *;

body, .root {
min-height: 100vh;
}
//universal styles for all elements
* {
color: black;
font-family: Verdana, Tahoma, sans-serif;
}

//universal basic layout styles

//navbar style
nav {
min-width: 100vh;
height: 5vh;
@include mix.bg($Dark-blue);
@include mix.flex($justify: space-around);
ul {
    display: inline;
list-style-type: none;
    li {
        display: inline-block;
        margin: default 15px;
    }
}
}

.search {
    @include mix.bg(white, url(../images/search-magnifying.jpg), $imgpos: 5%);
    } 
//styles for filters
aside {
width: 28vw;
height: 95vh;
@include mix.bg($Green);
@include mix.flex($justify: space-around);
}

//styles for main content
main {
min-height: 95vh;
min-width: 72vw;
position: absolute;
right: 0.175%;
top: 6.3%;
@include mix.bg($Light-blue);
@include mix.flex($justify: space-around);
}
//styles for posts content
section {
@include mix.bg(hsla(0, 0%, 100%, 0.80));
} 
//styles for badge content
.badge {
    border-radius: 50%;
}
.hamburger {
    position: absolute;
    top: 7.5%;
    height: 30px;
    width: 30px;   
}


@media screen and (max-width : 480px) {
    aside {
        display: none;
        width: 100vw;
    }
}
